body{
  font-family: sans-serif;
} 
.timer > button{
  font-size: 18px;
  gap: 5px;
  transition: 0.1s;
}
button:hover{
  cursor: pointer;
  transform: scale(1.03);
}
button:active{
  background-color: black;
  color: white;
}
.todos{
  padding: 10px;
}
.todos button{
  margin-left: 5px;
}